header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  padding-top: 2rem;
  border-bottom: 1px solid #eee;

  a.logo {
    img {
      max-width: 150px;
    }
  }

  nav {
    ul {
      display: flex;
      li {
        margin-right: 8px;
        a {
          color: #111;
          padding: 0 0px 5px 0px;
          font-size: 0.7rem;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.3s ease-in-out;

          &.active {
            color: $bleu-light;
            border-bottom: 2px solid $bleu-light;
          }

          &.active-orange {
            &:hover {
              color: #ff0000;
              border-bottom: 2px solid #ff0000;
            }
          }
          &.active-yellow {
            &:hover {
              color: #d8b10f;
              border-bottom: 2px solid #d8b10f;
            }
          }
        }
      }
    }
  }

  .sidebar-entry {
    display: flex;
    align-items: center;
    padding: 7px 7px 0 7px;
    margin: 0;
    font-weight: 400;
    color: $bleu-dark;
    cursor: pointer;

    &:hover {
      color: $bleu-light;
    }

    span {
      font-size: 0.8em;
      margin-right: 0.5em;
    }
  }
}
