@mixin sp-btn($border-color: $bleu-light) {
  text-transform: uppercase;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid $border-color;
  color: $bleu-dark;
  box-shadow: none;
  border-radius: 0;
  font-size: 0.6rem;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;

  &:hover {
    background: $border-color;
    border: 2px solid $border-color;
    color: $white;
  }
}