.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background: $white;

  @media #{$medium-and-up} {
    max-width: 85%;
  }

  @media #{$large-and-up} {
    max-width: 67%;
  }
}

.sp-btn {
  text-transform: uppercase;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid $bleu-light;
  color: $bleu-dark;
  box-shadow: none;
  border-radius: 0;
  font-size: 0.6rem;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;

  &:hover {
    background: $bleu-light;
    border: 2px solid $bleu-light;
    color: $white;
  }
}

.medium-title {
  color: $white;
  font-weight: 200;
  font-size: 1.2rem;
}

.big-title {
  color: $white;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2rem;
  margin: 0;
}

.bold {
  font-weight: bold;
}
