.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background: $white;

  @media #{$medium-and-up} {
    max-width: 85%;
  }

  @media #{$large-and-up} {
    max-width: 67%;
  }
}

.sp-btn {
  @include sp-btn();
  &.red {
    @include sp-btn($red);
  }
}

.medium-title {
  color: $white;
  font-weight: 200;
  font-size: 1.2rem;
}

.big-title {
  color: $white;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2rem;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.no-bottom-border {
  border-bottom: none !important;
}

.bg-gray {
  background: #efeef6;
}
