@import "variables";
@import "mixins";
@import "helpers";
@import "utilities";
@import "config";

@import "header";
@import "intro";

.sp-grid {
  display: flex;
  &.social {
    padding: 2rem 1.5rem;
    padding-bottom: 7rem;
    a {
      flex-grow: 1;
      display: flex;
      color: $bleu-dark;
      border-right: 1px solid #eee;
      margin-right: 1rem;
      padding: 1rem 0;
      i {
        font-size: 2.3rem;
        margin-right: 0.6rem;
      }
      span {
        font-size: 0.8rem;
        transition: all 0.2 linear;
        &:hover {
          color: $bleu-light;
        }
      }
    }
  }
}

.sp-card {
  padding: 1.5rem;
  flex-grow: 1;
  &.fg {
    flex-grow: 10;
  }
  p.medium-title {
    color: $primary-color;
    font-size: 1rem;
  }

  hr {
    margin: 0.5rem 0 0 0;
    width: 40px;
    height: 1px;
    background: $bleu-light;
    &.red {
      background: $red;
    }
  }

  ul {
    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid #eee;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 220px;
      a {
        color: $primary-color;
        font-size: 11px;
        transition: all 0.2s linear;
        &:hover {
          color: $bleu-light;
        }
      }
    }
  }

  a.sp-btn {
    margin-top: 1.1rem;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  .phone {
    margin-top: -5rem;
    width: 120px;
  }
  .downloads-info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    p.medium-title {
      font-size: 13px;
      color: $bleu-dark;
      font-weight: bold;
    }
    small {
      font-size: 10px;
    }
    img {
      width: 120px;
      margin-top: 0.6rem;
    }
  }
}

.contacts {
  padding: 1.5rem;
  justify-content: space-between;

  p {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
  }

  hr {
    margin: 0.3rem 0 0 0;
    width: 40px;
    background: $white;
    border-color: $white;
  }

  ul {
    margin-top: 0.7rem;
    li {
      margin-bottom: 0.2rem;
      a {
        font-size: 11px;
        color: white;
        transition: all 0.2 linear;
        &:hover {
          color: $bleu-dark;
        }
      }
    }
  }
}

.extern-link {
  padding: 1.5rem;
  justify-content: center;
  a {
    font-size: 11px;
    padding: .1rem .4rem;
    color: $bleu-dark;
    border-right: 1px solid #ccc;
    transition: all .2s linear;
    &:hover {
      color: $bleu-light;
    }
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  small {
    color: #777;
    font-size: 11px;
    transition: .2s linear;
    &:hover {
      color: $bleu-dark;
    }
  }
}

.gotop {
  text-align: center;
  padding: .5rem;
  i {
    color: $bleu-light;
    font-size: 40px;
    transition: .2s linear;
    &:hover {
      color: $bleu-dark;
    }
  }
}

.sidenav {
  z-index: 1;
  height: 100vh;
  width: 310px;
  background: $bleu-dark;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2.2rem 1.5rem;
  overflow-x: hidden; 

  p.medium-title {
    font-size: 13px;
  }

  hr {
    margin: 0.5rem 0 0 0;
    width: 40px;
    height: 1px;
    background: $bleu-light;
    &.red {
      background: $red;
      border-color: red;
    }
  }

  ul {
    padding: 1.1rem 0;
    li {
      padding: .5rem 0;
      border-bottom: 1px solid #36287b;
      a {
        transition: .2s linear;
        font-size: 11px;
        color: $white;
        &:hover {
          color: $bleu-light;
        }
      }
    }
  }
}