.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  background: #fff;
}

@media only screen and (min-width: 601px) {
  .container {
    max-width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    max-width: 65%;
  }
}

.sp-btn {
  text-transform: uppercase;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  vertical-align: middle;
  background: transparent;
  border: 2px solid #3790ff;
  color: #191265;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  font-size: 0.6rem;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
}

.sp-btn:hover {
  background: #3790ff;
  border: 2px solid #3790ff;
  color: #fff;
}

.medium-title {
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
}

.big-title {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
}

header a.logo img {
  max-width: 150px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 8px;
}

header nav ul li a {
  color: #111;
  padding: 0 0px 5px 0px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav ul li a.active {
  color: #3790ff;
  border-bottom: 2px solid #3790ff;
}

header nav ul li a.active-orange:hover {
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}

header nav ul li a.active-yellow:hover {
  color: #d8b10f;
  border-bottom: 2px solid #d8b10f;
}

header .sidebar-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 7px 0 7px;
  margin: 0;
  font-weight: 400;
  color: #191265;
  cursor: pointer;
}

header .sidebar-entry:hover {
  color: #3790ff;
}

header .sidebar-entry span {
  font-size: 0.8em;
  margin-right: 0.5em;
}

section.sp-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.sp-intro .sp-intro-content {
  width: 80%;
  background: url(/images/bg-particuliers.png) center center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.sp-intro .sp-intro-content .sp-intro-body {
  padding: 0 2rem;
}

section.sp-intro .sp-intro-content .sp-intro-body hr {
  width: 40px;
  margin-left: 0;
  height: 2px;
  background: #fff;
  margin: 2rem 0;
}

section.sp-intro .sp-intro-content .sp-intro-body small {
  color: #fff;
}

section.sp-intro .sp-intro-content .sp-intro-body .search-input {
  position: relative;
}

section.sp-intro .sp-intro-content .sp-intro-body .search-input input {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  outline: none;
  height: 2.4rem;
  width: 95%;
  font-size: 14px;
  margin: 8px 0;
  padding: 0 20px;
}

section.sp-intro .sp-intro-content .sp-intro-body .search-input i {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 15px;
  font-size: 18px;
  border-bottom: 2px solid gray;
  height: 32px;
  padding: 0 10px;
  -webkit-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.8;
}

section.sp-intro .sp-intro-content .sp-intro-body .search-input i:hover {
  font-size: 19px;
  opacity: 1;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0 0 0;
  padding: 0;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li {
  width: 100%;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li.sp-services {
  background: #3790ff;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li.sp-help {
  background: #191265;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li a {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li a span {
  font-size: 15px;
}

section.sp-intro .sp-intro-content ul.sp-intro-footer > li a i {
  font-size: 40px;
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */